* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Apresentação,
.Rotina,
.Hobbies,
.Artistas,
.Viagens {
  width: 25%;
  color: white;
  background-color: black;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
